div.container {
    border: 2px;
    border-style: solid;
    border-color: rgb(135,0,0);
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
}

p {
    font-size: larger;
}

h1 {
    color: rgb(135,0,0);
    font-family: "Sedan SC", serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media screen and (max-width: 1000px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}