<div class="jumbotron jumbotron-fluid">
        <div class="container text-right">
          <h1 class="display-1">Events</h1>
          <hr>
        </div>
</div>

<div class="title p-5">
  <h1>Fundraisers</h1>
</div>



<div class="title p-5">
  <h1>Upcoming Events</h1>
</div>

<div class="container">
  <div class="row">
  <div class="col text-center">
    <img src="/makinsafety.jpg">
    <div class="text-center">
      Class space is limited. Click the link below to reserve your spot now!
      <app-ctabutton [link]="registerbutton.link" [type]="registerbutton.type" [logoclass]="registerbutton.logoclass" [logo]="registerbutton.logo" [text]="registerbutton.text"></app-ctabutton>
    </div>
    
  </div>
  <div class="col">
    <h1 class="heading">Safety Saturdays</h1>
    <div>Beginning Saturday November 25th, 2023, we are pleased to announce a new monthly event to promote Fire & Life Safety.  Each month we will present a different topic from our Fire Prevention & Life Safety Program "Makin Safety No.1" or host a special guest presentation. These events are open to everyone.<br><br> 

The tentative schedule of these events is listed below. More times may be added when interest is greater than normal. Please click the link to the left to register for these events.<br><br>

November 25th, 2023		11:00AM	Winter Vehicle Safety

						1:00PM		Winter Vehicle Safety

December 16th, 2023 	11:00AM 	Holiday Hazards

						1:00PM		Holiday Hazards

January 20th, 2024		11:00AM	Mental Health Awareness

February 24th, 2024		11:00AM	Food & Kitchen Safety

March 16th, 2024			11:00AM	Pet First Aid

April 13th, 2024			11:00 AM	Fire Extinguishers

May 18th, 2024			11:00AM	Water Safety

June 29th, 2024			11:00AM	Grilling/Fireworks Safety</div>
  </div>
  </div>
</div>

<div class="title p-5">
  <h1>Past Events</h1>
</div>