<div class="jumbotron jumbotron-fluid">
        <div class="container text-right">
          <h1 class="display-1">Events</h1>
          <hr>
        </div>
</div>

<div class="title p-5">
  <h1>Fundraisers</h1>
</div>

<div class="container text-center">
  <div class="desktop">
    <div class="row">
    <div class="col my-5">
      <img src="/hotdog.jpg" alt="hot dog roast">
      <h1 class="heading">Hot Dog Roast</h1>
      <p>Every Saturday between May and Late October you can stop by the Exhibit Center to grab some lunch. We serve up our famous hot dogs from 10am-2pm. Our Happy Hotdoggers are out rain or shine!</p>
      <img src="/chef.jpg" alt="hot dog chefs">
    </div>
    <div class="col my-5">
      <img src="/raffle.jpg" alt="raffle table">
      <h1 class="heading">Memorial Tree Raffle</h1>
      <p>Our Memorial Tree Raffle runs during the summer months each year. Your raffle ticket earns you a chance to win a "tree's worth" of cash, lottery tickets, and gift cards. Drawing occurs Labor Day Weekend. You can pick up a ticket during our Saturday Hot Dog Roast.</p>
    </div>
    <div class="col my-5">
      <img src="/Lotto.jpg" alt="lotto tickets">
      <h1 class="heading">6-Month Lotto</h1>
      <p>Each year we run two 6-Month Lotteries. The first runs January 1st - June 30th and the second runs July 1st - December 31st. Tickets are available through our members or stop by on Saturdays to pick one up. Prizes are drawn for each day with larger amounts for Sundays and Holidays. </p>
    </div>
  </div>
  </div>
  <div class="mobile my-5">
    <div class="my-5">
      <img src="/hotdog.jpg" alt="hot dog roast">
      <h1 class="heading">Hot Dog Roast</h1>
      <p>Every Saturday between May and Late October you can stop by the Exhibit Center to grab some lunch. We serve up our famous hot dogs from 10am-2pm. Our Happy Hotdoggers are out rain or shine!</p>
      <img src="/chef.jpg" alt="hot dog chefs">
    </div>
    <div class="my-5">
      <img src="/raffle.jpg" alt="raffle table">
      <h1 class="heading">Memorial Tree Raffle</h1>
      <p>Our Memorial Tree Raffle runs during the summer months each year. Your raffle ticket earns you a chance to win a "tree's worth" of cash, lottery tickets, and gift cards. Drawing occurs Labor Day Weekend. You can pick up a ticket during our Saturday Hot Dog Roast.</p>
    </div>
    <div class="my-5">
      <img src="/Lotto.jpg" alt="lotto tickets">
      <h1 class="heading">6-Month Lotto</h1>
      <p>Each year we run two 6-Month Lotteries. The first runs January 1st - June 30th and the second runs July 1st - December 31st. Tickets are available through our members or stop by on Saturdays to pick one up. Prizes are drawn for each day with larger amounts for Sundays and Holidays. </p>
    </div>
  </div>
</div>

<div class="title p-5">
  <h1>Upcoming Events</h1>
</div>

<div class="container">
  <div class="row my-5">
  <div class="col text-center">
    <img src="/makinsafety.jpg">
    <div class="text-center">
      Class space is limited. Click the link below to reserve your spot now!
      <br>
      <app-ctabutton [link]="registerbutton.link" [type]="registerbutton.type" [logoclass]="registerbutton.logoclass" [logo]="registerbutton.logo" [text]="registerbutton.text"></app-ctabutton>
    </div>
    
  </div>
  <div class="col">
    <h1 class="heading">Safety Saturdays</h1>
    <div>Beginning Saturday November 25th, 2023, we are pleased to announce a new monthly event to promote Fire & Life Safety.  Each month we will present a different topic from our Fire Prevention & Life Safety Program "Makin Safety No.1" or host a special guest presentation. These events are open to everyone.<br><br> 

The tentative schedule of these events is listed below. More times may be added when interest is greater than normal. Please click the link to the left to register for these events.<br><br>
<div class="container m-2">
  <div class="row my-2">
    <div class="col">
      October 4th, 2025
    </div>
    <div class="col">
      11:00AM<br>1:00PM
    </div>
    <div class="col">
      Flame Jetting<br>Flame Jetting
    </div>
  </div>
</div>
</div>
  </div>
  </div>
</div>

<div class="title p-5">
  <h1>Past Events</h1>
</div>

<div class="container">
  <div class="desktop">
    <div class="row my-5">
    <div class="col">
      <h1 class="heading">Greater Buffalo Fire Muster</h1>
      <p>On June 24,th 2023, the Firemen's Memorial Exhibit Center had the pleasure of hosting the Genesee Valley Chapter of the Society for the Preservation & Appreciation of Antique Motor Fire Apparatus in America (SPAAMFAA) for their second annual Greater Buffalo Fire Muster. Several pieces of antiques motorized fire apparatus were on display. Even our local industry expert, Dick Young of Young Fire Equipment and Performance Advantage Company, stopped in to take in the sights and impart just a little of his vast knowledge on the subject.</p>
    </div>
    <div class="col">
      <img src="/topdown.png" alt="top down of museum" class="m-2" width="350px">
      <img src="/eventgroup.jpeg" alt="group attending event" class="m-2" width="250px">
    </div>
  </div>
  </div>
  <div class="mobile my-5">
    <div>
      <h1 class="heading">Greater Buffalo Fire Muster</h1>
      <p>On June 24,th 2023, the Firemen's Memorial Exhibit Center had the pleasure of hosting the Genesee Valley Chapter of the Society for the Preservation & Appreciation of Antique Motor Fire Apparatus in America (SPAAMFAA) for their second annual Greater Buffalo Fire Muster. Several pieces of antiques motorized fire apparatus were on display. Even our local industry expert, Dick Young of Young Fire Equipment and Performance Advantage Company, stopped in to take in the sights and impart just a little of his vast knowledge on the subject.</p>
    </div>
    <div>
      <img src="/topdown.png" alt="top down of museum" class="m-2" width="350px">
      <img src="/eventgroup.jpeg" alt="group attending event" class="m-2" width="250px">
    </div>
  </div>
</div>