<div class="jumbotron jumbotron-fluid">
        <div class="container text-right">
          <h1 class="display-1">In Memoriam</h1>
          <hr>
        </div>
</div>

<div class="title p-5 text-center">
  <h3>This page is dedicated to members of the Firemen's Memorial Exhibit Center who have gone before us. May they forever live on in our hearts and memories. Rest easy, we'll take it from here.</h3>
</div>

<div class="my-5">
  <app-article [image]="bender.image" [title]="bender.title" [date]="bender.date" [content]="bender.content"></app-article>
</div>

<div class="my-5">
  <app-article [image]="bayne.image" [title]="bayne.title" [date]="bayne.date" [content]="bayne.content"></app-article>
</div>

<div class="my-5">
  <app-article [image]="kavanaugh.image" [title]="kavanaugh.title" [date]="kavanaugh.date" [content]="kavanaugh.content"></app-article>
</div>

<div class="my-5">
  <app-article [image]="wutz.image" [title]="wutz.title" [date]="wutz.date" [content]="wutz.content"></app-article>
</div>

