<div class="jumbotron jumbotron-fluid">
        <div class="container text-right">
          <h1 class="display-1">About Us</h1>
          <hr>
        </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Our Mission</h1>
        <p>At the Firemen’s Memorial Exhibit Center, our mission is to preserve and honor the rich history and legacy of firefighting while promoting fire safety awareness within our community and beyond. 
          Through our comprehensive collection of firefighting artifacts and engaging educational programs, we strive to inspire and inform visitors of all ages, fostering a deep appreciation for the bravery, sacrifice, and dedication of firefighters past and present. 
          Our commitment to excellence in preserving and sharing this vital history enables us to be a beacon of knowledge, remembrance, and safety for generations to come.</p>
      </div>
      <div class="column">
        
    </div>
    <div class="row">
      <div class="column">

      </div>
      <div class="column">
        <div class="row">

        </div>
        <div class="row">
        
        </div>
      </div>
    </div>
  </div>
</div>