body {
    overflow-y: scroll;
    overflow-x: hidden;
}

hr {
    border: 5px solid rgb(135, 0, 0);
    opacity: 1;
}

.nav-item {
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}

.navbar-brand {
    margin-left: 1em;
    margin-right: 1em;
    color:black;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/hero_image.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    text-align: right;

    padding: 3em;
    padding-top: 5em;

    color: white;
}

h1 {
    font-family: "Sedan SC", serif;
}

h1.tenant {
    font-family: "Sedan SC", serif;
    font-weight: bold;
}

p {
    font-family: "Gabriela", serif;
}

.mission {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    line-height: 1.6;
}

p.mission {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.callaction {
    color: rgb(135, 0, 0);
}

a {
    color: rgb(135, 0, 0);
}

a:hover {
    color: rgb(207, 207, 207);
}

p.callaction {
    font-family: "Outfit", sans-serif;
    font-size: larger;
}

div.callaction {
    font-family: "Outfit", sans-serif;
    font-size: larger;
}

.contact {
    color: black;
}

.carousel-wrapper {
    width: 900px;
    height: 500px;
    overflow: hidden;
}

.top {
    color: rgb(135, 0, 0);
}

.about {
    background-color: rgb(135, 0, 0);
    color: white;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.container {
    overflow-x: hidden;
}

@media screen and (max-width: 1750px) {
    #smlogoig {
        width: 45px;
        height: 45px;
    }

    #smlogofb {
        width: 45px;
        height: 45px;
    }

    #smlogotw {
        width: 45px;
        height: 45px;
    }

    #joinbtn {
        padding-left: 3em;
        padding-right: 3em;
    }

    #donatebtn {
        padding-left: 3em;
        padding-right: 3em;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}