<div class="accordian" (click)="expand(panel1)">Respect for Heritage</div>
<div #panel1 class="panel">
    <p>We cherish the heritage of the fire service and the contributions of firefighters throughout history, valuing their courage, sacrifice, and selflessness.</p>
</div>

<div class="accordian" (click)="expand(panel2)">Section 2</div>
<div #panel2 class="panel">
    <p>fjdsklfjskadljf</p>
</div>

<div class="accordian" (click)="expand(panel3)">Section 3</div>
<div #panel3 class="panel">
    <p>fjdsklfjskadljf</p>
</div>